<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/product-detail.style.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<header>
    <%-include('./navbar.ejs')%>
</header>
<div>
    <h1 class="htitle align-text-top">Your Cart:</h1>
</div>
<%if(items !== undefined){%>
<ul class="flex">
    <div class="totalPrice-container">
        <h1 style="color: #01447e">Summary</h1>
        <p id="total_Price" class="totalPrice"></p>
    </div>
    <% _.each(items.items, function(topC) { %>
    <li class="productID" id="<%=topC.productId%>">
        <div class="cartdetail-container" id="<%=topC.variant.product_id%>">
            <div class="img-container">
                <img class="img" id="img" src="" alt="">
            </div>

            <div class="cart-text-container">
                <p class="cartH-title"></p>
            <p style="float: bottom; margin-top: 10%; " class="longDescription"></p>
            </div>

            <div style="position: absolute; bottom: 10%;">
                <p  class="price_text"><b>Price:</b> <%=topC.variant.price%> $ </p>
                <p class="size"></p>
                <form action="/cart/remove/<%=topC.productId%>/<%=topC.variant.product_id%>" method="GET">
                <button class="varButton">Remove</button>
                    <div class="d-inline-block  float-right big-margined">
                    <label for="quantity">Quantity:</label>
                    <input class="quantity" type="number"  id="quantity" name="quantity" min="0" max="" value="<%=topC.quantity%>">
                    </div>
                </form>
            </div>
        </div>

    </li>
    <% }); %>
</ul>

<%}else{%>
    <p class="cartH-title text-center">Your cart is empty</p>
<%}%>


</body>
</html>

<script src="/javascripts/jquery-3.6.0.min.js" type="text/javascript"></script>
<script>
    var cart='<%-JSON.stringify(items)%>'
    var api_key= '<%-JSON.stringify(apiKey)%>';
    api_key=JSON.parse(api_key)
    cart=JSON.parse(cart)
    var productID = document.getElementsByClassName("productID");
    for(let i=0;i<productID.length;i++){
        let url="/cart/"+productID[i].id
        $.ajax({
            url: url,
            type:'GET',
            dataType:'json',
            success:function (data,textStatus,xhr){
                let color=cart.items[i].variant.variation_values.color
                let size=cart.items[i].variant.variation_values.size
                for(img of data[0].image_groups){
                   if(img.variation_value===color && img.view_type==="medium"){
                       document.getElementsByClassName('img')[i].src="/images/"+img.images[0].link
                       document.getElementsByClassName('cartH-title')[i].innerHTML=img.images[0].title
                       document.getElementsByClassName('size')[i].innerHTML="<b>Size:</b> "+size
                       document.getElementsByClassName('longDescription')[i].innerHTML=data[0].long_description
                   }
                }
            },
            error: function () {
                alert("An error occurred!")
            }
        })

    }
</script>

<script>
    const product_ID = document.getElementsByClassName("productID");
    const variantID=document.getElementsByClassName("cartdetail-container");
    const input=document.getElementsByClassName('quantity')
    let sum=0;
    for(let i=0;i<input.length;i++) {
        let price= cart.items[i].variant.price
        document.getElementsByClassName("price_text")[i].innerHTML="<b>Price:</b>"+`<span class="productPrice">${price*input[i].value}</span>`+"$"
        sum=sum+price*input[i].value;
        input[i].addEventListener('input', (e) => {
         if (e.target.value === "0") {
            if (confirm('Are you sure you want to remove the item')) {

            } else {
                e.target.value = 1;
            }
        }

        $.ajax({
             type:'GET',
             url:"/cart/changeItemQuantity/"+product_ID[i].id+"/"+variantID[i].id+"/"+e.target.value,
             dataType:'json',
             success:function (data,textStatus,xhr){
                    let pDifference;
                    let total;
                    pDifference=price*e.target.value-parseFloat(document.getElementsByClassName("productPrice")[i].innerText)
                    total=pDifference+parseFloat(document.getElementById("SumPrice").innerText)

                    document.getElementsByClassName("price_text")[i].innerHTML="<b>Price:</b>"+`<span class="productPrice">${price*e.target.value}</span>`+"$"
                    document.getElementById("total_Price").innerHTML="Total Price: "+`<b id="SumPrice">${total} $</b>`

            },
            error: function () {
                alert("An error occurred!")
            }

         })
    })
}
document.getElementById("total_Price").innerHTML="Total Price: "+`<b id="SumPrice">${sum}</b>`

</script>


