<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
    <header>
        <div class="topnav">
            <a class="title"><%= title%></a>
            <a href="#men">Men</a>
            <a href="#women">Women</a>
            <a href="#signin" class="signin">Sign In</a>
            <a href="#signup" class="signup">Sign Up</a>
        </div>
    </header>
        <h1><%= title %></h1>
        <ol>
            <% _.each(items, function(topC) { %>
            <li>
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
                <% } %>
                <div>
                    <ol>
                        <% _.each(topC.categories, function(subC) { %>
                        <li>
                            <h2><%= subC.name %></h2>
                            <p><%= subC.page_description %></p>
                            <% if (subC.image) { %>
                            <div>
                                <img src="/images/<%= subC.image %>">
                            </div>
                            <% } %>
                        </li>
                        <% }); %>
                    </ol>
                </div>
            </li>
            <% }); %>
        </ol>
    </body>
</html>
