<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>
    <header>
        <%-include('./navbar.ejs')%>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item" aria-current="page"><%=category %></li>

        </ol>
    </nav>
        <h1 class="htitle"><%= parentcategory %></h1>
        <ul>
            <% _.each(items, function(topC) { %>
            <li>
                <h1><a href="/categories/<%=varlink%>/<%=topC.name.toLowerCase()%>"><%= topC.name %></a></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
                    <hr>
                <% } %>
                <div>
                    <ul>
                        <% _.each(topC.categories, function(subC) { %>
                        <li>
                            <h2><%= subC.name %></h2>
                            <p><%= subC.page_description %></p>
                            <% if (subC.image) { %>
                            <div>
                                <img src="/images/<%= subC.image %>">
                            </div>
                                <hr>
                            <% } %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </li>
            <% }); %>
        </ul>
    <footer>
        <div class="botnav">
            <a class="title"><%= title%> @2021</a>
        </div>
    </footer>
    </body>
</html>
