<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/product-detail.style.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/currency-picker.style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<header>
    <div class="topnav">
        <a class="title" href="http://localhost/"><%= title%></a>
        <a href="http://localhost/categories/men">Men</a>
        <a href="http://localhost/categories/women">Women</a>
        <a href="#signin" class="signin">Sign In</a>
        <a href="#signup" class="signup">Sign Up</a>
    </div>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="http://localhost/categories/<%=varlink%>"><%=category %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="http://localhost/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>"><%=parentcategory %></a></li>
        <li class="breadcrumb-item" aria-current="page"><%=type %></li>
    </ol>
</nav>
<ul >
    <% _.each(items, function(topC) { %>
        <% if (topC.image_groups) { %>
            <%for(let img of topC.image_groups){%>
        <%if(img.view_type==="large" && !img.variation_value){%>
        <div class="detail-container">
            <div class="img-container">
                <img src="/images/<%= img.images[0].link %>" alt="<%=topC.name%>">
            </div>
            <div class="text-container">
                <span class="h-title"><%= topC.name %></span>
                <p class="description"><%= topC.long_description %></p>
                <div class="footer">
                    <button class="button">Add to Cart</button>
                    <select name="currency" class="selector" id="currencySelector">
                        <option value="usd">USD</option>
                        <option value="eur">EURO</option>
                        <option value="try">TRY</option>
                        <option value="gbp">GBP</option>
                    </select>
                    <div class="price" id="price"><%=topC.price%></div>
                </div>
            </div>
        </div>
        <%}%>
        <%}%>
    <%}%>
    <% }); %>
</ul>
<footer>
    <div class="botnav">
        <a class="title"><%= title%> @2021</a>
    </div>
</footer>

<script>
    var selector = document.getElementById("currencySelector");
    var currencyElements = document.getElementById("price");

    var usdChangeRate = {
        eur: 1.4407,
        gbp: 1.6424,
        usd: 1.0,
        try: 0.12
    };
    var oldPrice=currencyElements.innerText
    oldPrice=parseFloat(oldPrice)
    selector.onchange = function () {
        console.log(selector.value)
        if(selector.value.toLowerCase() in usdChangeRate) {
            var temp=selector.value;
            document.getElementById("price").innerText = Math.round(oldPrice/usdChangeRate[temp]).toString()
        }
    };

</script>
</body>
</html>
