<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/product-detail.style.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/currency-picker.style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<header>
    <%-include('./navbar.ejs')%>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/categories/<%=varlink%>"><%=category %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>"><%=parentcategory %></a></li>
        <li class="breadcrumb-item" aria-current="page"><%=type %></li>
    </ol>
</nav>
<div>
    <% _.each(items, function(topC) { %>
        <% if (topC.image_groups) { %>
        <%for(let img of topC.image_groups){%>
        <%if(img.view_type==="large" && !img.variation_value){%>
        <div class="detail-container">
            <div class="img-container">
                <img id="img" style="height: inherit" src="/images/<%= img.images[0].link %>" alt="<%=topC.name%>">
            </div>
            <div class="text-container">
                <span class="h-title"><%= topC.name %></span>
                <p class="description"><%= topC.long_description %></p>
                <div class="footernew">
                    <form action="/cart" method="post">
                        <input type="hidden" id="productID" name="productID" value="<%=topC.id%>">
                        <input type="hidden" id="variantID" name="variantID" value="">
                        <button type="submit" class="button" disabled>Add to Cart</button>
                    </form>

                    <form style="width:fit-content; display: inline-block" action="/wishlist" method="post">
                        <input type="hidden" id="WLproductID" name="WLproductID" value="<%=topC.id%>">
                        <input type="hidden" id="WLvariantID" name="WLvariantID" value="">
                        <button type="submit" class="wishlist-button" disabled>Add to Wishlist</button>
                    </form>

                    <select name="currency" class="selector" id="currencySelector">
                        <option value="usd">USD</option>
                        <option value="eur">EURO</option>
                        <option value="try">TRY</option>
                        <option value="gbp">GBP</option>
                    </select>
                    <div class="price" id="price"><%=topC.price%></div>
                    <span class="price_text">Price: </span>
                </div>
            </div>
            <%}%>
            <%}%>


            <div class="variant" id="variant">
                <p class="var-title">Product Variants:</p>
                <%for(let va of topC.variation_attributes){%>
                <p class="subtitle"><b><%=va.name%></b></p>
                <%if(va.name==='Color' || va.name==='color'){%>
                <div class="varColor" id="varColor">
                    <%for(let nm of va.values){%>
                    <%for(let img of topC.image_groups){%>
                    <%if(img.view_type==="large" && img.variation_value===nm.value){%>
                    <button  name="<%=nm.value%>" value="/images/<%=img.images[0].link%>" class="varButton" id="var-button"><%=nm.name%></button>
                    <%}%>
                    <%}%>
                    <%}%>
                </div>
                <%}%>

                <%if(va.name==='Size' || va.name==='size'){%>
                <div class="varSize" id="varSize">
                    <%for(let nm of va.values){%>
                    <button value="<%=nm.value%>" class="varButton" id="var-button" disabled><%=nm.name%></button>
                    <%}%>
                </div>
                <%}%>

                <%if(va.name==='Width' || va.name==='width'){%>
                <div class="varWidth" id="varWidth">
                    <%for(let nm of va.values){%>
                    <button value="<%=nm.value%>" class="varButton" id="var-button" disabled><%=nm.name%></button>
                    <%}%>
                </div>
                <%}%>

                <%}%>
            </div>
        </div>
        <%}%>
    <%});%>

</div>
<footer>
    <div class="botnav">
        <a class="title"><%= title%> @2021</a>
    </div>
</footer>

<script src="/javascripts/jquery-3.6.0.min.js" type="text/javascript"></script>
<script>
    var selector = document.getElementById("currencySelector");
    var currencyElements = document.getElementById("price");
    var oldPrice=currencyElements.innerText

    $(document).ready(function (){
        $("#currencySelector").change(function (){
            $.ajax({
                url: 'https://api.exchangerate-api.com/v4/latest/USD',
                type:'GET',
                dataType:'json',
                success:function (data,textStatus,xhr){
                    var usdChangeRate = data.rates
                    oldPrice=parseFloat(oldPrice)
                        if(selector.value.toUpperCase() in usdChangeRate) {
                            var temp=selector.value.toUpperCase();
                            document.getElementById("price").innerText = Math.round(oldPrice*usdChangeRate[temp]).toString()
                        }
                },
                error: function () {
                   alert("An error occurred!")
                }
            })
        })
    })
</script>
<script>
    var variants= '<%-JSON.stringify(variants)%>';
    varObj=JSON.parse(variants)
    let colName;
    let sizeVal;
    let widthVal;

    function sizeChanger(color,width=0){
        let a = 0;
        if (document.getElementById("varWidth") !== null && document.getElementById("varWidth") !== undefined) {
            for (let i = 0; i < varObj.length; i++) {
                if (color === varObj[i].variation_values.color && width[0].value === varObj[i].variation_values.width) {
                    if (a === 0) {
                        $('#varSize button').remove()
                    }
                    $('#varSize').append(`<button  value="${varObj[i].variation_values.size===undefined?varObj[i].variation_values.accessorySize:varObj[i].variation_values.size}" class="varButton" id="var-button">${varObj[i].variation_values.size===undefined?varObj[i].variation_values.accessorySize:varObj[i].variation_values.size}</button>`)
                    a = a + 1;

                }
            }
        }
        else{
            for (let i = 0; i < varObj.length; i++) {
                if (color[0].name === varObj[i].variation_values.color) {
                    if (a === 0) {
                        $('#varSize button').remove()
                            }
                    $('#varSize').append(`<button  value="${varObj[i].variation_values.size===undefined?varObj[i].variation_values.accessorySize:varObj[i].variation_values.size}" class="varButton" id="var-button">${varObj[i].variation_values.size===undefined?varObj[i].variation_values.accessorySize:varObj[i].variation_values.size}</button>`)
                    a = a + 1;

                        }

                    }
                }
    }

    function SizeSelect() {
        if (document.getElementById("varSize") !== null && document.getElementById("varSize") !== undefined) {
            var SzbtnContainer = document.getElementById("varSize");
            var sizeBtns = SzbtnContainer.getElementsByClassName("varButton");
            for (var j = 0; j < sizeBtns.length; j++) {
                sizeBtns[j].addEventListener("click", function () {
                    var current = SzbtnContainer.getElementsByClassName("selected");

                    if (current.length > 0) {
                        current[0].className = current[0].className.replace(" selected", "");
                    }
                    this.className += " selected";
                    sizeVal=current[0].value;
                    if(widthVal===null||widthVal===undefined){
                        findVariantID(colName,sizeVal)
                        document.getElementsByClassName("button")[0].disabled=false
                        document.getElementsByClassName("wishlist-button")[0].disabled=false
                    }
                    else {
                        findVariantID(colName,sizeVal,widthVal)
                        document.getElementsByClassName("button")[0].disabled=false
                        document.getElementsByClassName("wishlist-button")[0].disabled=false
                    }

                });
            }

        }
    }

    function widthChanger(color){

        let a = 0;
        let temp="";
        for (let i = 0; i < varObj.length; i++) {
            if (color[0].name === varObj[i].variation_values.color) {
                if(varObj[i].variation_values.width===temp){
                    continue;
                }
                else{
                    temp=varObj[i].variation_values.width;
                }

                if (a === 0) {
                    $('#varWidth button').remove()
                }

                $('#varWidth').append(`<button  value="${varObj[i].variation_values.width}" class="varButton" id="var-button">${varObj[i].variation_values.width}</button>`)
                a = a + 1;

            }

        }
    }



    function WidthSelect(colordata) {
        var color=colordata;
        if (document.getElementById("varWidth") !== null && document.getElementById("varWidth") !== undefined) {
            var wdbtnContainer = document.getElementById("varWidth");
            var widthBtns = wdbtnContainer.getElementsByClassName("varButton");

            for (var k = 0; k < widthBtns.length; k++) {

                widthBtns[k].addEventListener("click", function () {
                    var current = wdbtnContainer.getElementsByClassName("selected");

                    if (current.length > 0) {
                        current[0].className = current[0].className.replace(" selected", "");
                    }

                    this.className += " selected";
                    widthVal=current[0].value;
                    sizeChanger(color,current)
                    SizeSelect()
                });
            }
        }
    }

        if (document.getElementById("varColor") !== null && document.getElementById("varColor") !== undefined) {
            var btnContainer = document.getElementById("varColor");
            var colorBtns = btnContainer.getElementsByClassName("varButton");
            for (var i = 0; i < colorBtns.length; i++) {

                colorBtns[i].addEventListener("click", function () {
                    var current = btnContainer.getElementsByClassName("selected");

                    if (current.length > 0) {
                        current[0].className = current[0].className.replace(" selected", "");
                    }

                    this.className += " selected";
                    document.getElementById("img").src = current[0].value
                    colName=current[0].name
                    if((document.getElementById("varWidth") === null || document.getElementById("varWidth") === undefined) && (document.getElementById("varSize") === null || document.getElementById("varSize") === undefined)){
                        findVariantID(current[0].name)
                        document.getElementsByClassName("button")[0].disabled=false
                        document.getElementsByClassName("wishlist-button")[0].disabled=false
                    }
                   else if (document.getElementById("varWidth") === null || document.getElementById("varWidth") === undefined) {
                        sizeChanger(current);
                        SizeSelect();
                    }
                    else{
                        widthChanger(current)
                        WidthSelect(current[0].name)

                    }
                });
            }

        }

    function findVariantID(color,size=0,width=0){
        if((document.getElementById("varWidth") === null || document.getElementById("varWidth") === undefined) && (document.getElementById("varSize") === null || document.getElementById("varSize") === undefined) ){
            for (let i = 0; i < varObj.length; i++) {
                if (color === varObj[i].variation_values.color) {
                    document.getElementById("variantID").value=varObj[i].product_id;
                    document.getElementById("WLvariantID").value=varObj[i].product_id;
                }
            }
        }
        else if(document.getElementById("varWidth") === null || document.getElementById("varWidth") === undefined) {
            for (let i = 0; i < varObj.length; i++) {
                if (color === varObj[i].variation_values.color && size === (varObj[i].variation_values.size===undefined?varObj[i].variation_values.accessorySize:varObj[i].variation_values.size)) {
                    document.getElementById("variantID").value=varObj[i].product_id;
                    document.getElementById("WLvariantID").value=varObj[i].product_id;
                }
            }
        }
        else{
            for (let i = 0; i < varObj.length; i++) {
                if (color === varObj[i].variation_values.color && size === (varObj[i].variation_values.size===undefined?varObj[i].variation_values.accessorySize:varObj[i].variation_values.size) && width===varObj[i].variation_values.width) {
                    document.getElementById("variantID").value=varObj[i].product_id;
                    document.getElementById("WLvariantID").value=varObj[i].product_id;
                }
            }
        }
    }
</script>

</body>
</html>
