<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/product-list.style.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<header>
    <div class="topnav">
        <a class="title" href="http://localhost/"><%= title%></a>
        <a href="http://localhost/categories/men">Men</a>
        <a href="http://localhost/categories/women">Women</a>
        <a href="#signin" class="signin">Sign In</a>
        <a href="#signup" class="signup">Sign Up</a>
    </div>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="http://localhost/categories/<%=varlink%>"><%=category %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="http://localhost/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>"><%=parentcategory %></a></li>
        <li class="breadcrumb-item" aria-current="page"><%=type %></li>

    </ol>
</nav>
<p class="htitle"><%= type %></p>
<ul class="card-container">
    <% _.each(items, function(topC) { %>
        <% if (topC.image_groups) { %>
        <%for(let img of topC.image_groups){%>

        <%if(img.view_type==="large" && !img.variation_value){%>
        <%if(img.images.length>1){%>
<!--        going to add some features later-->
        <li>
            <div class="card-preview-big">
                <h2 class="card-text-container"><%=topC.name%></h2>
                <div class="mix-container">
                    <img  src="/images/<%=img.images[0].link %>" class="mix-container" alt="<%=topC.name%>">
                </div>
                <% if(topC.short_description.length>=140){%>
                <p class="cardtext"><%=topC.short_description.substring(0,140)%>...</p>
                <div class="mix-container">
                <p class="card-text-container">Price: <%=topC.price%>$</p>
                    <button class="show-more-btn"><a href="http://localhost/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>/<%=type.toLowerCase()%>/<%=topC.id%>">View Product!</a></button>
                </div>
                <%}else{%>
                <p class="cardtext"><%=topC.short_description%></p>
                <div class="mix-container">
                <p class="card-text-container">Price: <%=topC.price%>$</p>
                <button class="show-more-btn"><a href="http://localhost/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>/<%=type.toLowerCase()%>/<%=topC.id%>">View Product!</a></button>
                </div>
                <%}%>
            </div>
        </li>
        <%}else{%>
        <li>
            <div class="card-preview-big">
                <h2 class="card-text-container"><%=topC.name%></h2>
                <div class="mix-container">
                    <img  src="/images/<%=img.images[0].link %>" class="mix-container" alt="<%=topC.name%>">
                </div>
                <% if(topC.short_description.length>=140){%>
                <p class="cardtext"><%=topC.short_description.substring(0,140)%>...</p>
                <div class="mix-container">
                <p class="card-text-container">Price: <%=topC.price%>$</p>
                <button class="show-more-btn"><a href="http://localhost/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>/<%=type.toLowerCase()%>/<%=topC.id%>">View Product!</a></button>
                </div>
                <%}else{%>
                <p class="cardtext"><%=topC.short_description%></p>
                <div class="mix-container">
                    <p class="card-text-container">Price: <%=topC.price%>$</p>
                    <button class="show-more-btn"><a href="http://localhost/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>/<%=type.toLowerCase()%>/<%=topC.id%>">View Product!</a></button>
                </div>
                <%}%>
            </div>
        </li>
        <%}%>
        <%}%>
        <%}%>

            <% } %>
    <% }); %>
</ul>
<footer>
    <div class="botnav">
        <a class="title"><%= title%> @2021</a>
    </div>
</footer>
</body>
</html>
