<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/containers.css"/>
</head>

<body>
<header>
    <%-include('./navbar.ejs')%>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item" aria-current="page"><%=category %></li>
    </ol>
</nav>

<div class=" container card  border ">
  <h1 class="small-margined"><b>Profile page</b></h1>
    <div>
    <h2 class="card-subtitle small-margined"><b>User Information</b></h2>
        <p class="small-margined"><b>Username: </b> <%=username%></p>
        <p class="small-margined"><b>Email: </b> <%=email%></p>
    </div>
</div>

<footer>
    <div class="botnav">
        <a class="title"><%= title%> @2021</a>
    </div>
</footer>
</body>
</html>
